<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">calculadora</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="calculadora">
    <div class="pantalla">0</div>
    <button id= "c" class="btn">C</button>
    <button id="borrar" class="btn"><span>&#8592;</span></button>
    <button class="btn">/</button>
    <button class="btn">*</button>
    <button class="btn">7</button>
    <button class="btn">8</button>
    <button class="btn">9</button>
    <button class="btn">-</button>
    <button class="btn">4</button>
    <button class="btn">5</button>
    <button class="btn">6</button>
    <button class="btn">+</button>
    <button class="btn">1</button>
    <button class="btn">2</button>
    <button class="btn">3</button>
    <button id="igual" class="btn">=</button>
    <button id="cero" class="btn">0</button>
    <button class="btn">.</button>

  </div>
</ion-content>
